.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../resources/images/background-img-home.png');
  background-size: cover;
  background-position: center center;
  flex-direction: column;
}

.button--common{
  width: 15rem;
  height: 5rem;
  background-color: #20a0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.button--common+.button--common{
  margin-left: 1rem;
}

.button--common:hover{
  background-color: #4db3ff;
}

.button-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box{
  width: 30rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-common{
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  box-sizing: border-box;
  color: #1f2d3d;
  display: inline-block;
  font-size: inherit;
  height: 2.8rem;
  line-height: 1;
  outline: none;
  padding: 3px 10px;
  margin-bottom: 1rem;
}

.input-inner{
  composes: input-common;
}

.input-inner--disabled{
  composes: input-common;
  width: 100%;
  background-color: #eef1f6;
  border-color: #d1dbe5;
  color: #bbb;
  cursor: not-allowed;
}
